*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Netflix Sans', sans-serif;
  background-color: #111;
}
::-webkit-scrollbar{
  width: 7px;
  background-color: #111;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}
.nav{
  position: fixed;
  top: 0;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all .5s;
}
.nav.active{
  background-color: #111;
}
.nav__left{
  margin-left: 10px;

}
.nav_logo{
  width: 120px
}
.nav__right{
  position: fixed;
  right: 20px;
  display: flex;
  margin-right: 10px;
}
.nav-links{
  flex: 1;
  margin-left: 20px;
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e50914;
}
.nav_avatar{
  align-items: center;
  width: 35px;
}

.input {
  position: absolute;
  right: 170px;
  border: 1px ;
}